body {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
}

/* Header stuff here. */

header {
background-color: #f2e4d8;
padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #61788c;
}

header p {
    margin: 0;
    color: #61788c;
    letter-spacing: .5px;
}

/* Navigation section here*/

nav {
    background-color: #d9b5a0;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #61788c;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

/* this is not working! ask for help*/

nav .active a {
    background-color: #61788c;
    color: #f2e4d8;
}

nav a:hover {
    color: white;
}


/* Main stuff here */

main {
    padding: 1rem 2vw;
}

main h1 { 
    color: #61788c; 
}

main h2 {
    color: #61788c;
    margin-bottom: .2rem;
}

main p {
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: white;
    color: #bf8665;
    display: block;
}

main dl dt {
    color: #bf8665;
    font-weight: 700;
}

main dl dd {
    font-size: .9rem;
    font-weight: 700;
    display: block;
}

main dl dd a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
}

main ul {
    list-style-type: circle;
    padding: .5rem 3vw;
}

main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    padding: .5rem 3vw;
}

main address {
    font-style: normal;
    background-color: #f2e4d8;
    padding: .5rem;
    width: 12.5rem;
    border-style: double;
    border-color: black;
    border-radius: .9rem;
}

main a {
    color: #bf8665;
    text-decoration: none;
}

main a:hover {
    color: #61788c;
}

/* Footer Section Here */

footer {
    background-color: #f2e4d8;
    text-align: center;
    color: #61788c;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #61788c;
    text-decoration: none;
    font-weight: 700;

}

footer a:hover { 
    color: #bf8665;
}